<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% autoescape off %}
Hi there,
<p>{{ user }} {{ first_message }}</p>
    <table>
    <thead>
    <tr>
        <th>Changes</th>
        <th>From</th>
        <th>To</th>
    </tr>
    </thead>
    <tbody>
    {% for change in changes %}
        <tr>
            <td>{{ change.info }}</td>
            <td>{{ change.old }}</td>
            <td>{{ change.new }}</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
{% endautoescape %}
</html>